# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.res
*.exp

# Executables
*.exe
*.out
*.app
*.swp
*.bak

*.asp
*.gz
*.db
*.sln
*.pdb
*.suo
*.vcxproj
*.opendb
*.filters
*.user
*.tmp
*.ipch

scripts/*/*/*.html

src/x64/Debug/Valet.tlog/*
src/x64/Debug/*
src/.vs/Valet/FileContentIndex/*
src/.vs/Valet/v17/*
src/*.txt

*.pyc

scripts/Euro-and-World/20*
scripts/Euro-and-World/*.txt
scripts/Euro-and-World/database/*.txt
scripts/Euro-and-World/database/0_basic/*.txt
scripts/Euro-and-World/database/1_edited/*.txt
scripts/Euro-and-World/database/2_genders/*.txt
scripts/Euro-and-World/database/3_highs/*.txt
scripts/Euro-and-World/database/4_tourndata/*.txt
scripts/Euro-and-World/database/5_tsemantics/*.txt
scripts/Euro-and-World/database/6_consolidated/*.txt
scripts/Euro-and-World/database/7_women/bak/*.txt
scripts/Euro-and-World/database/7_women/*.txt
scripts/Euro-and-World/database/8_refile/bak/*.txt
scripts/Euro-and-World/database/names/wbf/manual/*.txt
scripts/Euro-and-World/database/names/wbf/*.txt
scripts/Euro-and-World/database/names/results/*.txt
scripts/Euro-and-World/database/full_pairs/*
scripts/Euro-and-World/database/full_pairs/*
scripts/Euro-and-World/database/full_split/*
scripts/cluster/data/20*
scripts/cluster/*.txt
scripts/cluster/*.csv
scripts/cluster/labels/bak/*.txt
scripts/cluster/labels/original/*.csv
scripts/cluster/labels/nonines/*.csv
scripts/cluster/out/out*
scripts/cluster/out/count*

**/Both.txt
**/None.txt
**/They.txt
**/We.txt
**/Any.txt
**.light
**.tab
